.Interface{
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 45px;
    color:rgba(19, 12, 14, 0.774);
    font-family: "poppins",sans-serif;
    font-weight: 500;
        

}
.blur{
 backdrop-filter: blur(5px);
}
body{
  background-color: rgba(228, 228, 15, 0.438);
}
.button {
    font-size: 18px;
    padding: 8px 20px;
    border: 0;
    margin: 20px;
    background-color: rgb(13, 163, 163);
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px;
    &:hover {
      background-color: #2386c8;
    }
    &:focus {
      outline: none;
    }
  }

   body.modal-open .will{
    backdrop-filter: blur(2px); 
    background-size: cover;
    background-color: rgba(116, 90, 90, 0.438);
    overflow: hidden;
    display:inline-flex;
    background-repeat:no-repeat ;
    position: absolute;
    max-height: 100%;
} 
