# Specify folders/files to excluded from git tracking in this file

# always exclude nodemodules folder
node_modules/

# ignore package-lock.json => it is a compiled version of package.json
package-lock.json
